#main-container {
   font-size: 2em;

}

#board {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 150px);
}


.cell {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
